<h1><%= @restaurant.name %></h1>


<p> <strong>Address</strong>
  <%= @restaurant.address %>
</p>

<p> <strong>Phone Number</strong>
  <%= @restaurant.phone_number %>
  </p>


<p> <strong>Category</strong>
  <%= @restaurant.category %>
  </p>

  <p><strong>Review</strong></p>
  <% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> <%= review.rating %></p>
  <% end %>


<%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-outline-info btn-sm"  %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-outline-info btn-sm"  %>
